/* BREAK POINT */
/* PC */
@media (min-width: 64em) {
    
}
/* TABLET */ /* MOBILE */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .socials-list {
        font-size: 48px;
        
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
    #footer .copyright a {
        pad: 12px 0;
        display: inline-block;
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    
}
/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        line-height: 2;
    }  
}
/* MOBILE */
@media (max-width: 46.1875em) {
    .menu {
        display: none;
    }

   
    
}